:root {
    --main-color: aliceblue;
    --main-background-color: black;

    --sidebar-color: white;
    --sidebar-background-color: #001111;  
    --sidebar-color-hover: black;
    --sidebar-background-color-hover: white;  

    --header-color: aliceblue;
    --header-background-color: #113311; 

    --topbar-color: white;
    --topbar-background-color: #003300;   
    --topbar-color-hover: white;
    --topbar-background-color-hover: darkgreen;

    --article-color: white;
    --article-link-color: yellow;
    --article-header-color: #55ff99;   
    --article-background-color: #000a00;

    --search-title-color: goldenrod;
    --search-link-color: lightcyan;
    --search-preview-color: aliceblue;

    --figure-background-color: rgba(0, 0, 0, 0.4);
    --figure-popout-background-color: rgba(0, 0, 0, 0.8);
    --figure-border-color: darkgreen;
    --figure-caption-color: white;
    --figure-image-border-color: lightgreen;
}
