:root {
    --main-color: aliceblue;
    --main-background-color: black;

    --sidebar-color: white;
    --sidebar-background-color: #001111;  
    --sidebar-color-hover: black;
    --sidebar-background-color-hover: white;  

    --header-color: pink;
    --header-background-color: #220011; 

    --topbar-color: white;
    --topbar-background-color: darkgrey;   
    --topbar-color-hover: white;
    --topbar-background-color-hover: darkgreen;

    --article-color: white;
    --article-link-color: yellow;
    --article-header-color: #55ff99;  
    --article-background-color: black;

    --search-title-color: white;
    --search-link-color: lightblue;
    --search-preview-color: grey;

    --figure-background-color: black;
    --figure-popout-background-color: rgba(0, 0, 0, 0.8);
    --figure-border-color: #73AD21;
    --figure-caption-color: aliceblue;
    --figure-image-border-color: darkgrey;
}
