:root {
    --main-color: black;
    --main-background-color: lightgrey;

    --sidebar-color: darkblue;
    --sidebar-background-color: white;  
    --sidebar-color-hover: black;
    --sidebar-background-color-hover: white;  

    --header-color: black;
    --header-background-color: #ddddff; 

    --topbar-color: darkblue;
    --topbar-background-color: lightgrey;   
    --topbar-color-hover: black;
    --topbar-background-color-hover: lightgrey;

    --article-color: black;
    --article-link-color: blue;
    --article-header-color: darkblue; 
    --article-background-color: aliceblue;

    --search-title-color: black;
    --search-link-color: blue;
    --search-preview-color: grey;
}
