html {
    height: 100%;
}

// Resets and defaults.
* {
    box-sizing: border-box;
}

.svg-icon {
    height: 1em;
    width: 1em;
}

// Grid layout
body {
    height: 100%;
    overflow: hidden;
    margin: 0px;
    font-family: sans-serif;

    // Hide the icon definitions
    >svg {
        display: none;
    }

    >main.grid {
        width: 100%;
        display: grid;
        grid-gap: 0px;
        grid-template-columns: 15% auto;
        grid-template-rows: 5em auto;
        grid-template-areas:
            "logo    header"
            "sidebar content";

        >.logo {
            grid-area: logo;
        }

        >.sidenav {
            grid-area: sidebar;
        }

        >header {
            grid-area: header;
        }

        >article {
            grid-area: content;
        }
    }
}

// Rounding and shaping of the grid components
body>main {
    height: 100%;

    >.logo {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin-right: 5px;
        margin-left: 5px;
        text-align: center;

        img {
            height: 5em;
        }
    }

    >nav.sidenav {
        height: 100%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-right: 5px;
        margin-left: 5px;

        ul {
            padding: 0px;
            list-style: none;

            li {
                margin-right: 1em;
                margin-left: 1em;
                cursor: pointer;

                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: unset;
                }
            }
        }
    }

    article {
        overflow-y: auto;
    }

    >header {
        border-radius: 25px;
        position: relative;
        margin-right: 5px;

        div.title {
            width: 100%;
            height: 1.7em;
        }

        div.toolbar {
            height: 2em;
            position: absolute;
            bottom: 0;
            width: 100%;

            nav.topmenu {
                display: inline-block;
                bottom: 0;
                position: absolute;
            }

            .icon {
                float: right;
                margin: 0.5em;
            }

            nav#navigation_topbar {
                height: 100%;

                >ul {
                    padding: 0px;
                    margin: 0px;
                    height: 100%;
                    list-style: none;
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;

                    >li {
                        text-align: center;
                        flex: 1 1 auto;
                        padding: 5px 1em;
                        height: 100%;

                        a {
                            text-decoration: none;
                            color: unset;
                        }

                        ul {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// Colours and font sizes
body>main {
    color: white;
    background-color: azure;

    >.logo {
        background-color: black;
    }

    >nav.sidenav {
        background-color: black;
    }

    article {
        color: black;
    }

    >header {
        background-color: black;
        color: aliceblue;

        div.title {

            height: 3em;

            span.title {
                text-indent: 5%;
                font-size: x-large;
                margin: 0px 1em;
                line-height: 2em;
                vertical-align: middle;
            }

            span.subtitle {
                font-size: small;
                margin-right: 1em;
            }
        }

        div.toolbar {
            background-color: darkgreen;

            >nav {
                color: white;

                >ul {
                    padding: 0px;
                    margin: 0px;
                    height: 100%;
                    list-style: none;
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;

                    >li:hover {
                        cursor: pointer;
                        background-color: red;
                        color: black;
                    }
                }
            }

            .icon {
                fill: black;
            }

            .icon:hover {
                fill: white;
            }
        }
    }
}