html {
    height: 100%;
}

// Resets and defaults.
* {
    box-sizing: border-box;
}

.svg-icon {
    height: 1em;
    width: 1em;
}



// Grid layout
body {
    height: 100%;
    overflow: hidden;
    margin: 0px;
    font-family: sans-serif;

    // Hide the icon definitions
    >svg {
        display: none;
    }

    >main.grid {
        width: 100%;
        display: grid;
        grid-gap: 0px;
        grid-template-columns: 15% auto;
        grid-template-rows: 5em auto;
        grid-template-areas:
            "logo    header"
            "sidebar content";

        >.logo {
            grid-area: logo;
        }

        >.sidenav {
            grid-area: sidebar;
        }

        >header {
            grid-area: header;
        }

        >article {
            grid-area: content;
        }
    }
}

// Rounding and shaping of the grid components
body>main {
    height: 100%;

    >.logo {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin-right: 5px;
        margin-left: 5px;
        text-align: center;

        img {
            height: 5em;
        }
    }

    >nav.sidenav {
        height: 100%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-right: 5px;
        margin-left: 5px;
        padding-right: 1em;
        overflow-y: auto;

        ul {
            padding-left: 1em;
            list-style: none;

            li {
                margin: 0;
                cursor: pointer;

                span.navline {
                    display: block;
                    padding: 0em 3px;
                }

                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: unset;
                }
            }
        }
    }

    article {
        overflow-y: auto;
    }

    >header {
        border-radius: 25px;
        position: relative;
        margin-right: 5px;

        div.title {
            width: 100%;
            height: 1.7em;

        }

        div.toolbar {
            height: 2em;
            position: absolute;
            bottom: 0;
            width: 100%;

            nav.topmenu {
                display: inline-block;
                bottom: 0;
                position: absolute;
            }

            .icon {
                float: right;
                margin: 0.5em;
                cursor: pointer;
            }

            nav#navigation_topbar {
                height: 100%;
                padding-bottom: 2px;

                ul>li:hover>ul {
                    display: flex;
                    list-style: none;
                    margin-left: -1em;
                }

                ul>li>ul.open {
                    display: flex;
                    list-style: none;
                    margin-left: -1em;
                }

                ul {
                    padding: 0px;
                    margin: 0px;
                    margin-top: 2px;
                    height: 100%;
                    list-style: none;
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;

                    >li {
                        text-align: center;
                        flex: 1 1 auto;
                        padding: 5px 1em;
                        height: 100%;

                        ul {
                            display: none;
                            position: absolute;
                        }

                        a {
                            text-decoration: none;
                            color: unset;
                        }
                    }


                }
            }
        }
    }
}

// @media screen and (hover:none) and (max-device-width: 479px) and (orientation: portrait) {
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    body {

        font-size: larger;

        >main.grid {

            grid-template-columns: auto;
            grid-template-rows: 8em auto;
            grid-template-areas:
                "header"
                "content";

            >.logo {
                display: none !important
            }

            >nav.sidenav {
                display: none !important;
            }

            >header {

                margin: 0px;
                padding-top: .5em;


                div.title {
                    height: 5em;

                    span.logo {
                        display: inline;
                        text-align: center;
                        padding: 5px 1em;
                        height: 100%;
                        float: left;

                        >img {
                            height: 4em;
                        }
                    }

                    span.title {
                        font-size: xxx-large;
                        margin: 0px;
                    }

                    span.subtitle {
                        font-size: x-large;
                        margin: 0px 1em;
                    }

                }

                div.toolbar {
                    height: 2em;
                    font-size: x-large;
                }
            }

            >article {
                padding: 0px 1em;
                margin: 0px;
            }
        }
    }
}

// Colours and font sizes
body>main {
    color: var(--main-color);
    background-color: var(--main-background-color);

    >.logo {
        background-color: var(--sidebar-background-color);
    }

    >nav.sidenav {
        color: var(--sidebar-color);
        background-color: var(--sidebar-background-color);

        li>span.navline:hover {
            color: var(--sidebar-color-hover);
            background-color: var(--sidebar-background-color-hover);
        }
    }

    article {
        color: var(--article-color);
        background-color: var(--article-background-color);
    }

    >header {
        color: var(--header-color);
        background-color: var(--header-background-color);

        div.title {
            height: 3em;

            span.logo {
                display: none;
            }

            span.title {
                text-indent: 5%;
                font-size: x-large;
                margin: 0px 1em;
                line-height: 2em;
                vertical-align: baseline;
            }

            span.subtitle {
                font-size: small;
                margin-right: 1em;
                vertical-align: baseline;
            }
        }

        div.toolbar {
            color: var(--topbar-color);
            background-color: var(--topbar-background-color);

            >nav {
                ul {
                    color: var(--topbar-color);
                    background-color: var(--topbar-background-color);

                    >li:hover {
                        cursor: pointer;
                        color: var(--topbar-color-hover);
                        background-color: var(--topbar-background-color-hover);
                    }
                }
            }

            .icon {
                fill: black;
            }

            .icon:hover {
                fill: white;
            }
        }
    }
}

// Search page
article {
    div.searchform {
        margin: 3em;

        input {
            margin-left: 1em;
            width: 70%;
        }
    }

    div.searchresults {
        margin: 3em;

        ul {
            list-style: none;

            li {

                margin-top: 1em;

                a {
                    text-decoration: none;
                }

                span.title {
                    color: var(--search-title-color);
                }

                span.link {
                    color: var(--search-link-color);
                    margin-left: 2em;
                    font-size: small;
                    text-decoration: underline;

                }

                span.preview {
                    font-size: small;
                    color: var(--search-preview-color);
                }

            }
        }
    }

}